fieldset {
    /* Get rid of the border on the fieldset. */
    border: 0;
}

form {
    /* Center the form on the page. */
    margin: 0 auto;
    max-width: 600px;

    /* Curved border around the form. */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

    /* make all the fonts in the form the same. */
    font-family: Arial, Helvetica, sans-serif;
}

/* Every div after the first div in the form. */
form div + div {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment for labels. */
    display: inline-block;
    width: 90px;
    text-align: right;
}

legend {
    /* Add a bottom border to the legend. */
    border-bottom: 1px solid black;
}

input,
textarea {
    /* you must explicitly override the fonts in textareas and inputs. */
    font-family: Arial, Helvetica, sans-serif;
    /* uniform text field and textarea sizes. */
    width: 425px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /*align multiline text fields with their labels */
    vertical-align: top;

    /*provide space to type some text */
    height: 5em;
}
select {
    /*you must explicitly override the font in a select. */
    font-family: Arial, Helvetica, sans-serif;

    /* make the select as wide as the other form elements. */
    width: 425;
}

button{
    /*space the button to the right. */
    margin: .5em;
}
@media (min-width: 600px) {
    form {
        width: 600px;
    }
    .container {
        width: auto;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 16px;
    }
    textarea {
        width: 100%;
    }
    input {
        width: 100%;
    }
    select {
        width: 100%;
    }
}

@media (max-width: 599px) {
    form {
        width: 100%;
    }
    .container {
        width: auto;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 16px;
    }

    textarea {
        width: 100%;
    }
    input {
        width: 100%;
    }
    select {
        width: 100%;
    }

}
div{
    width: 344px;
}
title{
    color: #000;
    font-size: 22px;
}
body{
    font-size: 11px;
}
p{
    color: #232F34;
}
h1{
    color: #000;
    font-size: 22px;
}
h2{
    color: #232F34;
}
select{
    padding: 16px;
}
.desert{
    transition-timing-function: 0, 0, 0, .3;
    width: 344px;
    height: 194px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.person {
    size: 40px;
    width: 20px;
    height: 20px;
    diameter: 40px;
}
